SECRET_KEY=
DEBUG=False

DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=db
DATABASE_PORT=5432

ALLOWED_HOSTS=
CSRF_TRUSTED_ORIGINS=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

STRIPE_API_KEY=

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
CELERY_TASK_ALWAYS_EAGER=False
CELERY_TASK_EAGER_PROPAGATES=False

EMAIL_HOST=
EMAIL_PORT=465
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=False
EMAIL_USE_SSL=True
DEFAULT_FROM_EMAIL=