SECRET_KEY=yoursecretkey
DEBUG=True|False
DATABASE_NAME=yourdbname
DATABASE_USER=yourdbuser
DATABASE_PASSWORD=yourdbpassword
DATABASE_HOST=yourlhost
DATABASE_PORT=yourport

STRIPE_API_KEY=yourstripeapikey